@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
.color-navbar{
    background-color: #D4A373;
    top: 0;
    position: sticky;
    z-index: 1;
    color:white;
    font-family: "Montserrat", sans-serif;

}